<p id="notice"><%= notice %></p>
<div id="left" class="col-md-4">
<h1>Welcome to Muse.</h1>
<h3><%= if logged_in? then link_to 'Logout', '/sessions/destroy' else link_to 'Login', '/sessions/new' end%> | <%=if logged_in? then link_to 'New Post', new_post_path end%></h3>
<% if logged_in? %>
  <h4>Logged in: <%= current_user.name %> from <%= current_user.city %></h4>
<% end %>
</div>
<div id="center" class="col-md-4" style="padding-top: 40px;">
    <% @posts.each do |post| %>
        <h4 style="padding-top: 40px;"><strong><%= post.title %></strong></h4>
        <h6><i>by <%= User.find_by_id(post.user_id).name%> from <%=User.find_by_id(post.user_id).city%></i></h6>
        <p><%= post.body %></p>
        <h6><i>Song: <%= post.song_name %> by <%= post.artist_name %></i></h6>
        <iframe src="https://embed.spotify.com/?uri=<%=post.spotify_uri%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe><br>
        <% if logged_in? %>
          <% if current_user.id == post.user_id %>
            <p><%= link_to 'Edit', edit_post_path(post) %> 
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end%>
        <% end %>
    <% end %>
</div>
<div id="center" class="col-md-4"></div>